{% extends 'base.html' %}
{% block title %}
    Create New Categury
{% endblock title %}

{% block content %}content
{% for masse in messages %}
  {{messages}}
{% endfor %}

{% block header %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock header %}
  
     <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="card-body">
              <form method="POST" id="target">
              
                {% csrf_token %}
              
              

                <div class="row p-3">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="">
                        Name
                      </label>
                      <input type="text" name="name" id="name" class="form-control">
                      
                    </div>
                  </div>
                </div>
                
                <div class="row p-3 ">
                  <div class="col-md-4 field_wrapper">
                    <div class="form-group input-group">
                      <label class="">
                        Place 1
                      </label>
                      <input type="text" class="form-control" name="MS[]"  >
                      <div class="input-group-append">
                        <a href="javascript:void(0);" class="add_button" title="Add field"><button class="btn btn-outline-secondary btn-sm btn-primary" type="button">+</button></a>
                      </div>            
                    </div>
                  </div>
                  
                </div>
                
                <div class="row p-3">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="">
                        Sequence
                      </label>
                      <input type="hidden" name="manual_sequence"  value="">
                      <input type="text" name="sequence" id="sequence" class="form-control">
                      
                    </div>
                  </div>
                </div>
                 
                
                  
                
                
              
              
              
                
               
                
                  
                <input type="submit" class="btn btn-primary pull-right" value="Save">  
                
                <div class="clearfix"></div>
               </form>
            </div>
          </div>
        </div>

        

      </div>
    </div>


    
{% endblock content %}

{% block script %}
<script type="text/javascript">
  $(document).ready(function(){
      
      var addButton = $('.add_button'); //Add button selector
      var wrapper = $('.field_wrapper'); //Input field wrapper
      var x = 2; //Initial field counter is 1
      var fieldHTML = '<div class="form-group input-group"><label class="">Place'+ x + '</label><input type="text" class="form-control" name="MS" id="MS" value="" ><div class="input-group-append"><a href="javascript:void(0);" class="remove_button" title="Add field"><button class="btn btn-outline-secondary btn-sm btn-warning" type="button">-</button></a></div>'; //New input field html 
      
      //Once add button is clicked
      $(addButton).click(function(){
          //Check maximum number of input fields
          fieldHTML = '<div class="form-group input-group"><label class="">Place'+ x + '</label><input type="text" class="form-control" name="MS" id="MS" value="" ><div class="input-group-append"><a href="javascript:void(0);" class="remove_button" title="Add field"><button class="btn btn-outline-secondary btn-sm btn-warning" type="button">-</button></a></div>'; //New input field html 
              x++; //Increment field counter
              $(wrapper).append(fieldHTML); //Add field html
              
              
      });

      


      $( "#target" ).submit(function( event ) {
        
          var values = $("input[name='MS[]'")
          .map(function(){return $(this).val();}).get();
            $("input:hidden").val(values);
        
        
        
      });

      //Once remove button is clicked
      $(wrapper).on('click', '.remove_button', function(e){
          e.preventDefault();
          $(this).parent('div').parent('div').remove(); //Remove field html
          x--; //Decrement field counter
          fieldHTML = '<div class="form-group input-group"><label class="">Place'+ x + '</label><input type="text" class="form-control" name="MS" id="MS" value="" ><div class="input-group-append"><a href="javascript:void(0);" class="remove_button" title="Add field"><button class="btn btn-outline-secondary btn-sm btn-warning" type="button">-</button></a></div>'; //New input field html 
      });
  });
  
  
 
  
  
  
  </script>
{% endblock script %}
  